<!DOCTYPE html>
<html lang="en">
  <%- include("./partials/head.ejs") %>
  <body>
    <%- include("./partials/header.ejs") %>
    <main class="container">
      <div class="space-between-row">
        <h1>Message Board</h1>
        <% if (currentUser) { %><a href="/create" class="nav-button">New Message</a>
        <% } %>
      </div>
      <div class="message-board">
        <% messages.slice().reverse().forEach((message, index) => { %>
          <% const messageIndex = messages.length - index - 1; %>
          <div class="message-content">
            <% if (currentUser) { %>
              <div class="message-header">
            <% } else { %>
              <div>
                <% } %>
                <% if (currentUser) { %>
                <p>
                  <%= message.username ? message.username : "Anonymous" %> • 
                  <%= moment(message.date).fromNow() %>
                </p>
                  <% if (currentUser && currentUser.admin_status) { %>
                  <form
                    action="/delete/<%= message.id %>?_method=DELETE"
                    method="POST"
                    style="display: inline"
                  >
                    <input type="hidden" name="_method" value="DELETE" />
                    <button type="submit">Delete</button>
                  </form>
                  <% } %>
                <% } else { %>
                  <p>Anonymous</p>
                <% } %>
              </div>
            <h4><%= message.title %></h4>
            <p><%= message.content %></p>
          </div>
        <% }) %>
      </div>
    </main>
  </body>
</html>
